<%= render partial: 'orders/customers', locals: { customer: @customer } %>

<%= form_tag customers_path, method: :get do %>
  <div class='d-flex flex-row justify-content-between'>
    <div class='flex-grow-1 mb-2'>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
    </div>
    <div class='mb-2'>
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<table class='table table-striped table-responsible'>
<tbody>
  <th>#</th>
  <th>ник</th>
  <th>профиль</th>
  <%- @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.nickname %></td>
      <td><%= link_to 'Show', customer %></td>
    </tr>
  <% end %>
</tbody>
</table>
