<div>
  <div class='mb-4'>
    <strong class='text-muted '>
      <%=
        I18n.t('orders.events', idx: @order.idx, count: @order.order_events.size)
      %>
    </strong>
  </div>

  <% @order.order_events.each do |event| %>
    <div>
      <strong>
        <%= event.event_source %>: <%= event.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
      </strong>
      <p>
      <%= I18n.t('orders.from') %>
      <%= event.body['creator'] %>
      </p>

      <%= event.body['action_type'] %>
      <%= event.body['card_name'] %>

      <div>
        <span>
          <%= event.body['list_before'] %>
          ->
          <%= event.body['list_after'] %>
        </span>
      </div>
    </div>
  <% end %>
</div>
