<div>
  <strong>
    <%= event.body['action_type'] %>: <%= event.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
  </strong>
  <p>
    <%= I18n.t('orders.from') %>
    <%= event.body['creator'] %>
  </p>

  <div>
    <span>
      <%= event.body['list_before'] %>
      <%= event.body['list_after'] %>
    </span>
  </div>
</div>
