<div>
  <strong>
    <%= event.event_source %>: <%= event.created_at.strftime("%d/%m/%Y %H:%M:%S") %>
  </strong>
  <p>
    <%= I18n.t('orders.from') %>
    <%= event.body['creator'] %>
  </p>
  <div>
    <p>
    <%= event.body['action_type'] %>
    </p>
  </div>

  <div>
    <span>
      <%= event.body['list_before'] %>
      ->
      <%= event.body['list_after'] %>
    </span>
  </div>
</div>
