<%="##{@card.idx}"%>
<%= @card.purchased_at&.strftime('%d.%m') %>
<%= @card.product.name %>
<div style='max-height: 320px'>
  <%= image_tag(@card.product.illustration, size: '240x320')  if @card.product.illustration.present? %>
</div>
<div class='row'>
  <div class='col-6'>
    <% @card.order_measures.map do |order_measure| %>
      <div>
        <%= order_measure.measure.tag %>
        <%= order_measure.value%>
      </div>
    <% end %>
  </div>
  <div class='row-6'>
    <div>
      <%= @card.fabric.title%>
      <%= @card.fabric.material %>
      <div>
        <%= @card.fabric.description %>
      </div>
      <div>
        <%= image_tag(@card.fabric.illustration, size: '120x160') if @card.fabric.illustration.present? %>
      </div>
    </div>
  </div>
</div>
<div>
  <%= @card.customer.nickname %>
</div>
